html {
    background-color: #1b1c21;
    color: white;
    font-family: sans-serif;
}

body {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-bottom: 16px;
}

h1 {
    font-size: 64px;
    padding: 16px;
}

h2 {
    font-size: 32px;
    margin-bottom: 16px;
}

a {
    color: lightblue;
    text-decoration: underline;
}

canvas {
    width: 720px;
    margin-bottom: 16px;
}

.clarification {
    margin-bottom: 16px;
}

.bottom {
    display: flex;
    margin-bottom: 64px;
}

.params {
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 4px;
    font-size: 32px;
    padding: 8px 32px;
}

.buttons {
    margin-bottom: 16px;
}

#start-button {
    background-color: green;
    margin-right: 64px;
}

#clear-button {
    background-color: red;
}

label {
    width: 260px;
    margin-bottom: 16px;
}

input, select {
    width: 50px;
    float: right;
    background-color: white;
    color: black;
}

.bottom-right {
    width: 260px;
}

#info-display {
    margin-left: 32px;
}

#iteration-info {
    margin-bottom: 16px;
}
